@using Loja.Controllers
<ul class="header_social">
	@if (Request.IsAuthenticated)
	{
		using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
		{
			@Html.AntiForgeryToken()

			<li class="custom_header_social"><a href="@Url.Action("Index", "Cliente")"><i class="fa fa-user"></i> @Session[LoginController.CLIENTE] </a></li>
			<li><a class="sair" href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>

		}
	}
	else
	{
		<li><a href="@Url.Action("Login", "Login")"><i class="fa fa-user"></i> Minha conta</a></li>
	}
</ul>