@model WebApplication.Models.Produtos.ProdutoViewModel
<div class="item">
	<div class="f_p_item">
		<div class="f_p_img">
			<img class="img-fluid" src="@Url.Content("~/" + Model.UrlImagem)" alt="">
			<div class="p_icon">
				<a href="#"><i class="lnr lnr-cart"></i></a>
			</div>
		</div>
		<a href="@Url.Action("detalhe", "produtos", new { id = Model.Codigo })"><h4>@Model.Nome</h4></a>
		<h5>@Model.ValorExibicao</h5>
	</div>
</div>