<div class="jumbotron">
    <h1>Chef`s</h1>
    <p>POC - Dropshipping</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>API</h2>
		<p>API para receber requisições dos fornecedores cadastrados, referente a atualizações de preço e estoque dos produtos subscritos pela loja.</p>
    </div>
    <div class="col-md-4">
        <h2>Hangfire</h2>
	    <p>
		    Neste aplicativo também são gerados e transmitidas os dados gerenciais diariamente.
	    </p>
    </div>
</div>