@model WebApplication.Areas.Loja.Models.ProdutoViewModel
<div class="col-lg-3 col-md-4 col-sm-6">
	<div class="f_p_item">
		<div class="f_p_img">
			<img class="img-fluid" src="@Model.UrlImagem" alt="">
			<div class="p_icon">
				<a href="@Url.Action("detalhe", "produto", new {area = "loja", id = Model.Codigo })"><i class="lnr lnr-cart"></i></a>
			</div>
		</div>
		<a href="#"><h4>@Model.Nome</h4></a>
		<h5>@Model.Valor.ToString("{0:C}")</h5>
	</div>
</div>
